{{#layout}}

<input type="hidden" class="loginUser" required="required" value="{{loginUser}}"/>
<input type="hidden" class="writerCheck" required="required" value="{{writerCheck}}"/>
{{#viewDboard}}
<div class="container boardModify">
	<form action="/board/boardDelete/{{seq}}" method="post" name="boardDelete">
		<a href="/board/boardEdit/{{seq}}" class="btn btn-primary" role="button">수정</a>
		<div type="button" class="btn btn-danger del-btn">삭제</div>
	</form>
</div>
{{/viewDboard}}

<div class="container my-1">
	{{#viewDboard}}
	<div class="row">
		<table class="table">
			
			<thead>
				<tr class="table-active">
					<th scope="col" style="width: 60%">{{title}}<br>
						{{writer}}</th>
					<th scope="col" style="width: 40%" class="text-right">조회 : testViewCount01
						<br> {{createdDate}}</th>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td><pre>{{contents}}</pre></td>
				</tr>
			</tbody>
			
		</table>
	</div>
	<input type="hidden" value="{{seq}}" id="boardSeq" name="boardSeq" class="boardSeq">
	<form action="/board/commentAction/{{seq}}" method="post" class="commentForm">
	<div class="form-group">
		<textarea class="form-control" rows="3" name="contents" id="contents"
			placeholder="댓글을 입력해주세요" required="required"></textarea>
		<input type="hidden" class="cFormGroups" id="cFormGroups" name="groups" />
		<input type="hidden" class="cFormSeq" id="cFormSeq" name="seq" />
		<button type="submit" class="btn btn-secondary mb-3">저장</button>
	</div>
	</form>
	{{/viewDboard}}
	
	
	
	<ul class="list-group comment_list">
	{{#comments}}
		<li class="list-group-item" id="{{seq}}">
			<div class="cWriter" style="font-weight: bold;">{{writer}}</div>
			
			<div class="float-right commentModify">
					<a href="#;" class="commentEdit" role="button">수정</a>
					&nbsp&nbsp&nbsp 
					<a href="#;" class="commentDelete" role="button" id="{{seq}}">삭제</a>
			</div>
			
			<div class="cContents">{{contents}}</div>
			<input type="hidden" class="cGroups" id="groups" name="groups" value="{{groups}}"/>
			<input type="hidden" class="cIndent" id="indent" name="indent" value="{{indent}}"/>
			<div>
				<span>{{createdDate}}</span>
				<a href="#;" role="button" class="comment_write_button"> 답글쓰기 </a>
			</div>
		</li>
	{{/comments}}
	</ul>
	
<br/>	
<nav aria-label="Page navigation" class="pull-right">
	<ul class="pagination">
		{{#page}}
		<li class="page-item {{enabled}}">
			<a class="page-link" data-value="{{value}}" tabindex="-1">{{cover}}</a>
		</li>
		{{/page}}
	</ul>
</nav>	
	
</div>

<script src="/js/paging.js"></script>
<script src="/js/boardViewer.js"></script>
{{/layout}}